<!-- form-control, form-label, form-select, input-group, input-group-text -->
<section id="contact">
    <div class="container-lg">
        <div class="text-center">
            <h2>Welcome to Kart services</h2>
            <p class="lead">
                We are thrilled to have you , Please Sign Up !
            </p>
        </div>

        <div class="row justify-content-center my-5">
            <!-- extra small to large full widht and after that 6 col width -->
            <div class="col-lg-6">
                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <label for="email" class="form-label">Email address:</label>
                    <div class="input-group mb-4">
                        <!-- extra mail icon you see on the group -->
                        <span class="input-group-text">
                            <i class="bi bi-envelope-fill text-secondary"></i>
                        </span>
                        <input formControlName="email" type="text" id="email" class="form-control"
                            placeholder="e.g. aditya@example.com" />
                        <span class="input-group-text">
                            <span class="tt" data-bs-placement="bottom" title="Enter an email address we can reply to.">
                                <i class="bi bi-question-circle text-muted"></i>
                            </span>
                        </span>
                    </div>

                    <label for="name" class="form-label">Name:</label>
                    <div class="mb-4 input-group">
                        <span class="input-group-text">
                            <i class="bi bi-person-fill text-secondary"></i>
                        </span>
                        <input formControlName="name" type="text" id="name" class="form-control"
                            placeholder="e.g. Aditya" />
                        <!-- tooltip -->
                        <span class="input-group-text">
                            <span class="tt" data-bs-placement="bottom" title="Pretty self explanatory really...">
                                <i class="bi bi-question-circle text-muted"></i>
                            </span>
                        </span>
                    </div>

                    <label for="contact" class="form-label">Contact:</label>
                    <div class="mb-4 input-group">
                        <span class="input-group-text">
                            <i class="bi bi-phone-fill text-secondary"></i>
                        </span>
                        <input formControlName="contact" type="number" id="contact" class="form-control"
                            placeholder="e.g. 1234567890" />
                        <!-- tooltip -->
                        <span class="input-group-text">
                            <span class="tt" data-bs-placement="bottom" title="Please share your contact.">
                                <i class="bi bi-question-circle text-muted"></i>
                            </span>
                        </span>
                    </div>

                    <label for="name" class="form-label">Password:</label>
                    <div class="mb-4 input-group">
                        <span class="input-group-text">
                            <i class="bi bi-key-fill text-secondary"></i>
                        </span>
                        <input formControlName="password" type="password" id="password" class="form-control"
                            placeholder="abc123" />
                        <!-- tooltip -->
                        <span class="input-group-text">
                            <span class="tt" data-bs-placement="bottom" title="Please share your contact.">
                                <i class="bi bi-question-circle text-muted"></i>
                            </span>
                        </span>
                    </div>

                    <!-- <label for="name" class="form-label">Confirm Password:</label>
                    <div class="mb-4 input-group">
                        <span class="input-group-text">
                            <i class="bi bi-phone-fill text-secondary"></i>
                        </span>
                        <input type="number" id="name" class="form-control" placeholder="e.g. 1234567890" /> -->
                    <!-- tooltip -->
                    <!-- <span class="input-group-text">
                            <span class="tt" data-bs-placement="bottom" title="Please share your contact.">
                                <i class="bi bi-question-circle text-muted"></i>
                            </span>
                        </span>
                    </div> -->

                    <!-- <label for="subject" class="form-label">Gender?</label>
                    <div class="mb-4 input-group">
                        <span class="input-group-text">
                            <i class="bi bi-chat-right-dots-fill text-secondary"></i>
                        </span>
                        <select class="form-select" id="subject">
                            <option value="pricing" selected>Male</option>
                            <option value="content">Female</option>
                            <option value="other">Others</option>
                        </select>
                    </div> -->

                    <div class="mb-4 mt-5 form-floating">
                        <textarea formControlName="address" class="form-control" id="query" style="height: 140px"
                            placeholder="query"></textarea>
                        <label for="query">Your Address...</label>
                    </div>
                    <div class="mb-4 text-center">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </form>
                <a routerLink="/login"> Already Regisered? Click to Login</a>
            </div>
        </div>
    </div>
</section>