<!-- navbar -->
<!-- navbar light changes the links color to light grey -->

<nav class="navbar navbar-expand-md navbar-light pt-3 pb-2">
    <div class="container-xxl">
        <!-- navbar brand / title -->
        <a class="navbar-brand" routerLink="/dashboard">
            <span class="text-secondary fw-bold display-5"><i class="bi bi-shop"></i>
                Kart Services
            </span>
        </a>
        <!-- toggle button for mobile nav -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <!-- navbar links -->
        <div class="collapse navbar-collapse justify-content-end align-center " id="main-nav">
            <!-- navbar-nav is for styling  -->
            <ul class="navbar-nav">
                <!-- <li class="nav-item" *ngIf="user$ | async as user">
                    <a class="nav-link" routerLink="/dashboard">About The Book</a>
                </li> -->
                <li class="nav-item" *ngIf="user$ | async as user">
                    <a class="nav-link" routerLink="/cart" (click)="setTotalCost()">
                        <span><i class="bi bi-cart-fill h4"></i></span> Cart = {{CC}}</a>
                </li>

                <li class="nav-item ms-2 d-none d-md-inline" *ngIf="user$ | async as user">
                    <a routerLink="/profile" class="btn btn-secondary"><span><i class="bi bi-person-circle"></i></span>
                        <ng-container *ngIf="user$ | async as user">
                            {{user.displayName}}
                        </ng-container>
                    </a>
                </li>
                <li class="nav-item ms-2 d-none d-md-inline" *ngIf="user$ | async as user">
                    <button class="btn btn-danger" (click)="logout()">logout</button>
                </li>
            </ul>
        </div>



    </div>
</nav>